.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 50%;
}

.titulo {
    text-align: center;
    font-size: 25px;
}
.recuperarpassword {
    text-align: center;
}